@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

html,
body {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  font-size: 100%;
  
}

main {
  display: flex;
  flex-flow: column wrap;
}

.App {
  margin: 2px;
}

header {
  font-size: xx-large;
  font-weight: 800;
  text-align: center;
  padding: 10px;
  margin: 20px;
  background-color: lightgrey;
  position: sticky;
}

.search-select-container {
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
}

